Source: flatpak-store-ui
Section: utils
Priority: optional
Maintainer: krafairus <krafairuspc@gmail.com>
Uploaders:
  krafairus <krafairuspc@gmail.com>
Build-Depends: debhelper , debhelper-compat (= 13), dh-python, python3-all, pyqt5-dev-tools
Standards-Version: 4.5.0
Homepage: https://github.com/krafairus/flatpak-store-ui

Package: flatpak-store-ui
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyqt5, python3-pyqt5.qtwebengine, flatpak, python3-requests
Description: Flatpak Store UI es una aplicación gráfica para gestionar aplicaciones Flatpak.
