Source: flathub-store-ui
Section: utils
Priority: optional
Maintainer: krafairus <krafairuspc@gmail.com>
Uploaders:
  krafairus <krafairuspc@gmail.com>
Build-Depends:
  debhelper-compat (= 13)
Standards-Version: 4.5.0
Homepage: https://github.com/krafairus/flathub-store-ui

Package: flathub-store-ui
Architecture: all
Depends:
  flatpak,
  python3-pyqt5,
  python3-pyqt5.qtwebengine,
  ${misc:Depends},
  python3,
  ${shlibs:Depends},
  zenity
Description: Tienda Flathub para la instalacion de programas flatpak de forma simple.
