[Desktop Entry]
Name=Flathub Store
Comment=Tienda Flathub para la instalacion de programas flatpak de forma simple.
Exec=python3 /usr/bin/flathub-store-ui
Icon=/usr/share/icons/hicolor/scalable/apps/flathub-store-ui.svg
StartupWMClass=flathub-store-ui
Type=Application
Categories=System;
