[Desktop Entry]
Categories=System;
Comment=Flatpak Store for simple program installation.
Exec=/usr/bin/python3 /usr/bin/flatpak-store-ui
Icon=/usr/share/icons/hicolor/scalable/apps/flatpak-store-ui.svg
Name=Flatpak Store
Name[es]=Tienda Flatpak
Name[pt]=Loja Flatpak
StartupWMClass=flatpak-store-ui
Type=Application
X-Deepin-Vendor=user-custom