[Desktop Entry]
Encoding=UTF-8
Keywords=package;installer;flatpak;
Name=Install Flatpak Package
GenericName=Install Flatpak Package
Name[es]=Instalar paquete flatpak.
Name[pt]=Instalar pacote flatpak
Comment=Remove or install flatpak packages.
Exec=/usr/bin/python3 /usr/share/flatpak-store-ui/open-file-flatpak %F
Icon=/usr/share/icons/hicolor/scalable/apps/flatpak-store-ui.svg
Type=Application
MimeType=application/vnd.flatpak.ref;
Terminal=false
Categories=Utility;System;
NoDisplay=true
X-DFM-MenuTypes=SingleFile;
X-KDE-Protocols=file